/******************************************
*  Author : Author   
*  Created On : Fri May 22 2020
*  File : Map.module.css
*******************************************/

/*+ TAGS +*/

/*+ .CLASSES +*/

.dynamiccomponent {
  border: teal 3px solid;
}
.mapheadline {
  border: teal 3px solid;
}
.gridrow {
  border: red 2px dotted;
  margin: 0vw;
}
.gridcolumn {
  border: black 2px dotted;
}
.SidebarComp {
  border: black 1px solid;
  background-color: lightgrey;
}
/*+ #ID +*/

#Sidebarheader {
  border: brown 1px solid;
}
#MapTabsOuter {
  width: 100%;
  background-color: slategrey;
}
#MapTabsInner {
  border: skyblue 3px solid;
}
#MapItineraryOuter {
  background-color: brown;
  width: 100%;
  border: 3px black solid;
}

.ItineraryContent {
  padding: 1vw;
  text-align: left;
  width: 100%;
  background-color: rosybrown;
}
